<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="CINCAPIDBEntities"
      connectionString="metadata=res://*/CincZohoDeskEntities.csdl|res://*/CincZohoDeskEntities.ssdl|res://*/CincZohoDeskEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-8I6N7EAR\SQLEXPRESS;initial catalog=CINCAPIDB;persist security info=True;user id=sa;password=admin123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="Default" connectionString="data source=LAPTOP-8I6N7EAR\SQLEXPRESS;initial catalog=CINCAPIDB;persist security info=True;user id=sa;password=admin123;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <appSettings>
    <add key="AddLog" value="1" />
    <add key="LogPath" value="D:\Projects\DotNetProject\CINC\Development\Zoho_Integration\src\CINC_Genesys_Zoho\Cinc.ZohoDesk.Integration\Log\Error" />

    <add key="referesh-token" value="1000.e6408cf2a11a8387b9cb6925e05aed48.c575ff3ce15eaa9b9a2d87aa7657e7ed" />
    <add key="client-id" value="1000.4T03FVXJCN5IPHYWHUDWC5I1I8EZRH" />
    <add key="client-secret" value="3145d34bcd83f49cdc7084732338f3e65c37e62772" />
    <add key="redirect-uri" value="https://support.communityassociationmanagement.com" />
    <!--End Zoho Access Detail-->
    <!--Registry Detail-->
    <add key="RegistryKey" value="HKEY_CURRENT_USER\MyApplication" />
    <add key="RegistryValue" value="FirstRun2" />

  </appSettings>
</configuration>